<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JBC Demo</title>
	<script src="http://l.tbcdn.cn/??s/kissy/1.3.0/kissy-min.js,apps/juassets/config.js"></script>
  </head>
<body>

<script>
(function(S){
	if (S.Config.debug) {
		S.Config.mappedRules = [];//清空之前的map
		S.config({
			packages: [{
			   name: 'jbc',
			   path: '../../'//本地路径
			}],
			map: [
				[/(.+)jbc\/(\w*)\/(.+)/g,"$1$2/src/$3"]
			]
		});
	}
})(KISSY);

//以jupicker为例
KISSY.use('jbc/jupicker/v1/index',function(S, Jupicker){
	
});
</script>
</body>
</html>